# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyDN54UQ23VVMGFgCIvZWK1AiwcmdszupWQ
VITE_FIREBASE_AUTH_DOMAIN=booking-system-1dd06.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=booking-system-1dd06
VITE_FIREBASE_STORAGE_BUCKET=booking-system-1dd06.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=728286344060
VITE_FIREBASE_APP_ID=1:728286344060:web:51af86f177ce0e2a012af9

# AWS Configuration
VITE_AWS_REGION=eu-north-1
VITE_AWS_API_GATEWAY_URL=https://16f415gica.execute-api.eu-north-1.amazonaws.com/dev
